<?php
/**
 * This is the AddressBook's authentication file
 * This is a piece of PHP code so PHP syntax applies!
 *
 * add as many usernames and md5 passwords as you like
 * 
 * you can create an md5 sum in the login window by entering 'make md5' as username
 * and your password into the password field. By pressing the login button your password
 * will be converted into an MD5 sum which will be displayed as notification in the
 * reloaded login window.
 * 
 */


///////////////////////
//     U S E R S     //
///////////////////////

// This is an example user with
// username = fred
// password = banana
//
//   Fred is part of the group '@editor'.
//   This means that Fred is able to execute all actions that the @editor group may
//   execute.
//
// For an explanation of all actions see the documentation at http://iaddressbook.org/docs#permissions_access_controls

// Editor
//
// $auth['fred']['password']    = '72b302bf297a228a75730123efef7c41';
// $auth['fred']['groups']      = array('@editor');
// $auth['fred']['fullname']    = 'Fred the Geek';
// $auth['fred']['email']       = 'fred@geeks.com';

// Admin User (password = admin)
//
// $auth['admin']['password']    = '21232f297a57a5a743894a0e4a801fc3';
// $auth['admin']['groups']      = array('@admin');
// $auth['admin']['fullname']    = 'Administrator';
// $auth['admin']['email']       = '';

// XML-RPC api_key=abcd
//
// $auth['abcd']['password']    = '';
// $auth['abcd']['groups']      = array('@xml_client');

        
?>
